html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    #chart {
        flex: 1 0 auto;
        display: flex;
        height: 100%;
        width: 100%;

        canvas {
            height: auto !important;
        }
    }
}

#resume {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }
}

#play-pause {
    position: relative;
    height: 33px;
    height: 33px;
    width: 40px;

    button {
        position: absolute;
        left: 0;
        top: 0;
    }
}

#github-link {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    margin-left: auto;
    z-index: 2;

    img {
        display: block;
        margin-left: auto;
        margin-top: 10px;
        margin-right: 10px;
    }
}

#controls {
    position: fixed;
    top: 0;
    z-index: 1;

    label {
        color: #e4e4e4;
    }
}
